# python cache
*__pycache__*
*.pyc

# pyenv auto activation file
.python-version

# flake8 conf for black formatter
.flake8

# all files in books folder
books/*.csv

# logging files
logs/*.log

# profiling
*.prof
